* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box1 {
    height: 150px;
    width: 150px;
    background-color: brown;
    margin-top: 50px  ;
    margin-left: 50px;
}

#box2 {
    height: 150px;
    width: 150px;
    background-color: pink;
    margin-top: 50px  ;
    margin-left: 50px;
}

#nav{
    background-color: black;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#heading1,#heading{
    color:aliceblue
}

#list{
    display:flex;
    gap:40px;
    margin-right: 20px;
}

